In [350]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns


import pickle
import json


import warnings
warnings.filterwarnings('ignore')

Dataset Title:
                Urban Air Quality and Health Impact Dataset: A Comprehensive Overview of U.S. Cities


Description:

This dataset provides an extensive collection of synthetic data related to urban air quality and its potential health impacts across major
U.S. cities. The data has been augmented to include a wide range of features, making it a valuable resource for research and analysis in the 
fields of environmental science, public health, and urban studies.


Features:

DateTime: Timestamp of the recorded data.
City: The U.S. city where the data was recorded (e.g., Phoenix, San Diego, New York City).
Temp_Max: Maximum temperature for the day (°F).
Temp_Min: Minimum temperature for the day (°F).
Temp_Avg: Average temperature for the day (°F).
Feels_Like_Max: Maximum "feels like" temperature for the day (°F).
Feels_Like_Min: Minimum "feels like" temperature for the day (°F).
Feels_Like_Avg: Average "feels like" temperature for the day (°F).
Dew_Point: Dew point temperature (°F).
Humidity: Relative humidity percentage.
Precipitation: Total precipitation for the day (inches).
Precip_Prob: Probability of precipitation (percentage).
Precip_Cover: Coverage of precipitation (percentage).
Precip_Type: Type of precipitation (e.g., rain, snow).
Snow: Amount of snowfall (inches).
Snow_Depth: Snow depth (inches).
Wind_Gust: Maximum wind gust speed (mph).
Wind_Speed: Average wind speed (mph).
Wind_Direction: Wind direction (degrees).
Pressure: Atmospheric pressure (hPa).
Cloud_Cover: Cloud cover percentage.
Visibility: Visibility distance (miles).
Solar_Radiation: Solar radiation (W/m²).
Solar_Energy: Solar energy received (kWh).
UV_Index: UV index level.
Severe_Risk: Risk level of severe weather (e.g., low, moderate, high).
Sunrise: Sunrise time (HH:MM:SS).
Sunset: Sunset time (HH:MM:SS).
Moon_Phase: Phase of the moon (e.g., new moon, full moon).
Conditions: General weather conditions (e.g., clear, cloudy).
Description: Detailed description of the weather conditions.
Icon: Weather icon representation.
Stations: Weather stations reporting data.
Source: Data source information.
Temp_Range: Temperature range for the day (difference between max and min temperatures).
Heat_Index: Heat index value for the day.
Severity_Score: Score representing the severity of weather conditions.
Condition_Code: Code representing specific weather conditions.
Month: Month of the year.
Season: Season of the year (e.g., winter, spring).
Day_of_Week: Day of the week.
Is_Weekend: Indicator if the day is a weekend.
Health_Risk_Score: Score representing the potential health risk based on weather and air quality conditions.


>>>>> Predict on logistic Regression model : Health_Risk_Score

### 2. Data Gathering

In [180]:
df=pd.read_csv('Urban Air Quality and Health Impact Dataset.csv')
df

,datetime,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,...,City,Temp_Range,Heat_Index,Severity_Score,Condition_Code,Month,Season,Day_of_Week,Is_Weekend,Health_Risk_Score
0,7,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,...,Phoenix,15.100000,95.918703,4.430000,0,9,Fall,Saturday,True,10.522170
1,8,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,...,Phoenix,16.900000,92.281316,3.880000,0,9,Fall,Sunday,True,10.062332
2,9,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,...,Phoenix,21.100000,90.599165,3.630000,0,9,Fall,Monday,False,9.673387
3,10,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,...,Phoenix,24.900000,89.638811,2.851200,0,9,Fall,Tuesday,False,9.411519
4,11,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,...,Phoenix,24.000000,89.760414,3.390800,0,9,Fall,Wednesday,False,9.515179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,18,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,...,Philadelphia,12.886665,71.837558,1.957318,0,9,Fall,Wednesday,False,8.750142
996,17,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,...,San Diego,2.613629,72.463491,2.537413,0,9,Fall,Tuesday,False,9.118198
997,12,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,...,San Diego,4.598936,67.560060,3.595470,0,9,Fall,Thursday,False,9.880093
998,14,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,...,Los Angeles,15.477717,67.930437,3.498942,0,9,Fall,Saturday,True,9.561602
999,18,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,...,Houston,11.017871,86.802712,3.040020,0,9,Fall,Wednesday,False,10.978044

In [181]:
df

,datetime,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,...,City,Temp_Range,Heat_Index,Severity_Score,Condition_Code,Month,Season,Day_of_Week,Is_Weekend,Health_Risk_Score
0,7,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,...,Phoenix,15.100000,95.918703,4.430000,0,9,Fall,Saturday,True,10.522170
1,8,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,...,Phoenix,16.900000,92.281316,3.880000,0,9,Fall,Sunday,True,10.062332
2,9,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,...,Phoenix,21.100000,90.599165,3.630000,0,9,Fall,Monday,False,9.673387
3,10,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,...,Phoenix,24.900000,89.638811,2.851200,0,9,Fall,Tuesday,False,9.411519
4,11,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,...,Phoenix,24.000000,89.760414,3.390800,0,9,Fall,Wednesday,False,9.515179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,18,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,...,Philadelphia,12.886665,71.837558,1.957318,0,9,Fall,Wednesday,False,8.750142
996,17,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,...,San Diego,2.613629,72.463491,2.537413,0,9,Fall,Tuesday,False,9.118198
997,12,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,...,San Diego,4.598936,67.560060,3.595470,0,9,Fall,Thursday,False,9.880093
998,14,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,...,Los Angeles,15.477717,67.930437,3.498942,0,9,Fall,Saturday,True,9.561602
999,18,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,...,Houston,11.017871,86.802712,3.040020,0,9,Fall,Wednesday,False,10.978044

In [182]:
df.shape

(1000, 52)

In [183]:
df.columns

Index(['datetime', 'monthtime', 'yeartime', 'datetimeEpoch', 'tempmax',
       'tempmin', 'temp', 'feelslikemax', 'feelslikemin', 'feelslike', 'dew',
       'humidity', 'precip', 'precipprob', 'precipcover', 'preciptype', 'snow',
       'snowdepth', 'windgust', 'windspeed', 'winddir', 'pressure',
       'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex',
       'severerisk', 'sunrisehour', 'sunriseminute', 'sunrisecond',
       'sunriseEpoch', 'sunsethours', 'sunsetminutes', 'sunsetsecond',
       'sunsetEpoch', 'moonphase', 'conditions', 'description', 'icon',
       'stations', 'source', 'City', 'Temp_Range', 'Heat_Index',
       'Severity_Score', 'Condition_Code', 'Month', 'Season', 'Day_of_Week',
       'Is_Weekend', 'Health_Risk_Score'],
      dtype='object')

In [184]:
df.info()  #starting info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           1000 non-null   int64
 1   monthtime          1000 non-null   int64
 2   yeartime           1000 non-null   int64
 3   datetimeEpoch      1000 non-null   int64
 4   tempmax            1000 non-null   float64
 5   tempmin            1000 non-null   float64
 6   temp               1000 non-null   float64
 7   feelslikemax       1000 non-null   float64
 8   feelslikemin       1000 non-null   float64
 9   feelslike          1000 non-null   float64
 10  dew                1000 non-null   float64
 11  humidity           1000 non-null   float64
 12  precip             1000 non-null   float64
 13  precipprob         1000 non-null   float64
 14  precipcover        1000 non-null   float64
 15  preciptype         378 non-null    object
 16  snow               1000 non-null   int64
 17  snowdepth          1000 non-null   int64
 18  windgust           1000 non-null   float64
 19  windspeed          1000 non-null   float64
 20  winddir            1000 non-null   float64
 21  pressure           1000 non-null   float64
 22  cloudcover         1000 non-null   float64
 23  visibility         1000 non-null   float64
 24  solarradiation     1000 non-null   float64
 25  solarenergy        1000 non-null   float64
 26  uvindex            1000 non-null   float64
 27  severerisk         1000 non-null   float64
 28  sunrisehour        1000 non-null   int64
 29  sunriseminute      1000 non-null   int64
 30  sunrisecond        1000 non-null   int64
 31  sunriseEpoch       1000 non-null   int64
 32  sunsethours        1000 non-null   int64
 33  sunsetminutes      1000 non-null   int64
 34  sunsetsecond       1000 non-null   int64
 35  sunsetEpoch        1000 non-null   int64
 36  moonphase          1000 non-null   float64
 37  conditions         1000 non-null   object
 38  description        1000 non-null   object
 39  icon               1000 non-null   object
 40  stations           1000 non-null   object
 41  source             1000 non-null   object
 42  City               1000 non-null   object
 43  Temp_Range         1000 non-null   float64
 44  Heat_Index         1000 non-null   float64
 45  Severity_Score     1000 non-null   float64
 46  Condition_Code     1000 non-null   int64
 47  Month              1000 non-null   int64
 48  Season             1000 non-null   object
 49  Day_of_Week        1000 non-null   object
 50  Is_Weekend         1000 non-null   bool
 51  Health_Risk_Score  1000 non-null   float64
dtypes: bool(1), float64(26), int64(16), object(9)
memory usage: 399.5+ KB

In [185]:
df.isna().sum().to_list()  #before initialize

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 622,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [186]:
# converted 0 to whole file 
df.replace({'NaN':0}, inplace=True)
df=df.fillna(0)    #if where NaN ,0 values converted as 0

### 3.1 datetime

In [187]:
df['datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: datetime
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [188]:
df['datetime'].value_counts().to_dict()

{7: 47,
 12: 47,
 14: 46,
 16: 44,
 10: 43,
 19: 42,
 17: 42,
 21: 42,
 18: 41,
 9: 41,
 11: 41,
 20: 40,
 13: 39,
 8: 38,
 15: 37,
 22: 24,
 23: 24,
 24: 24,
 25: 24,
 26: 24,
 27: 24,
 28: 24,
 1: 24,
 6: 24,
 2: 24,
 3: 24,
 4: 24,
 5: 24,
 29: 22,
 30: 22,
 31: 14}

### 3.1.b.monthtime

In [189]:
df['monthtime'].value_counts()

monthtime
9     330
10     62
12     62
3      62
7      62
8      62
5      62
1      61
11     60
4      60
6      60
2      57
Name: count, dtype: int64

In [190]:
df['monthtime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: monthtime
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.1 c.yeartime

In [191]:
df['yeartime']

0      2024
1      2024
2      2024
3      2024
4      2024
       ...
995    2024
996    2024
997    2024
998    2024
999    2024
Name: yeartime, Length: 1000, dtype: int64

In [192]:
df['yeartime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: yeartime
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.2 datetimeEpoch

In [193]:
df=pd.get_dummies(df, columns=['datetime'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,datetime_22,datetime_23,datetime_24,datetime_25,datetime_26,datetime_27,datetime_28,datetime_29,datetime_30,datetime_31
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,0,0,0,0,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,0,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,0,0,0,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,0,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,0,0,0,0,0
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,0,0,0,0,0,0,0,0,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,0,0,0,0,0,0,0,0,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,0,0,0,0,0,0,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,0,0,0,0,0,0,0,0,0,0

In [194]:
df['datetimeEpoch']

0      1725692400
1      1725778800
2      1725865200
3      1725951600
4      1726038000
          ...
995    1726632592
996    1726550178
997    1726121998
998    1726283774
999    1726618425
Name: datetimeEpoch, Length: 1000, dtype: int64

In [195]:
df['datetimeEpoch'].value_counts()

datetimeEpoch
1725951600    4
1726038000    4
1726124400    4
1726210800    4
1726297200    4
             ..
1726632592    1
1726550178    1
1726121998    1
1726283774    1
1725861115    1
Name: count, Length: 895, dtype: int64

In [196]:
df['datetimeEpoch'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: datetimeEpoch
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.3 tempmax

In [197]:
df['tempmax']

0      106.100000
1      103.900000
2      105.000000
3      106.100000
4      106.100000
          ...
995     76.060546
996     68.409198
997     69.756690
998     77.106797
999     90.923080
Name: tempmax, Length: 1000, dtype: float64

In [198]:
df['tempmax'].value_counts()

tempmax
85.900000    7
88.100000    4
82.300000    3
85.000000    3
79.200000    3
            ..
76.060546    1
68.409198    1
69.756690    1
77.106797    1
68.012769    1
Name: count, Length: 951, dtype: int64

In [199]:
df['tempmax'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: tempmax
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.4 tempmin

In [200]:
df['tempmin']

0      91.000000
1      87.000000
2      83.900000
3      81.200000
4      82.100000
         ...
995    64.359387
996    65.939319
997    65.286919
998    61.481724
999    79.296868
Name: tempmin, Length: 1000, dtype: float64

In [201]:
df['tempmin'].value_counts()

tempmin
57.600000    4
65.200000    4
61.800000    3
77.400000    3
67.400000    3
            ..
64.359387    1
65.939319    1
65.286919    1
61.481724    1
87.000000    1
Name: count, Length: 948, dtype: int64

In [202]:
df['tempmin'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: tempmin
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.5 temp

In [203]:
df['temp']

0      98.500000
1      95.400000
2      94.700000
3      93.900000
4      94.000000
         ...
995    69.002142
996    66.567410
997    65.919492
998    68.106569
999    81.636991
Name: temp, Length: 1000, dtype: float64

In [204]:
df['temp'].value_counts()

temp
67.100000    4
68.500000    3
73.600000    3
89.100000    3
67.400000    3
            ..
69.002142    1
66.567410    1
65.919492    1
68.106569    1
72.265782    1
Name: count, Length: 970, dtype: int64

In [205]:
df['temp'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: temp
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.6 feelslikemax

In [206]:
df['feelslikemax']

0      104.000000
1      100.500000
2       99.900000
3      100.600000
4      101.000000
          ...
995     77.673823
996     68.956722
997     68.158536
998     76.426959
999     94.180423
Name: feelslikemax, Length: 1000, dtype: float64

In [207]:
df['feelslikemax'].value_counts()

feelslikemax
81.100000     4
99.900000     3
100.600000    3
85.700000     3
94.400000     3
             ..
77.673823     1
68.956722     1
68.158536     1
76.426959     1
84.646755     1
Name: count, Length: 962, dtype: int64

In [208]:
df['feelslikemax'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: feelslikemax
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.7 feelslikemin

In [209]:
df['feelslikemin']

0      88.100000
1      84.700000
2      81.600000
3      79.500000
4      80.000000
         ...
995    63.510920
996    64.805635
997    63.662942
998    60.901526
999    78.071851
Name: feelslikemin, Length: 1000, dtype: float64

In [210]:
df['feelslikemin'].value_counts()

feelslikemin
57.600000    4
65.200000    4
60.000000    3
77.400000    3
61.800000    3
            ..
63.510920    1
64.805635    1
63.662942    1
60.901526    1
64.650420    1
Name: count, Length: 951, dtype: int64

In [211]:
df['feelslikemin'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: feelslikemin
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.8 feelslike

In [212]:
df['feelslike']

0      95.900000
1      92.300000
2      90.600000
3      89.800000
4      90.000000
         ...
995    67.003338
996    65.992526
997    67.313322
998    68.094309
999    84.987113
Name: feelslike, Length: 1000, dtype: float64

In [213]:
df['feelslike'].value_counts()

feelslike
66.500000    3
67.100000    3
86.700000    3
67.400000    3
78.900000    3
            ..
67.003338    1
65.992526    1
67.313322    1
68.094309    1
84.400000    1
Name: count, Length: 971, dtype: int64

In [214]:
df['feelslike'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: feelslike
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.9 dew

In [215]:
df['dew']

0      51.500000
1      48.700000
2      41.700000
3      39.100000
4      40.100000
         ...
995    59.936776
996    59.010257
997    62.024442
998    63.169608
999    73.393045
Name: dew, Length: 1000, dtype: float64

In [216]:
df['dew'].value_counts()

dew
59.900000    4
62.500000    3
51.500000    2
46.600000    2
70.800000    2
            ..
59.936776    1
59.010257    1
62.024442    1
63.169608    1
73.393045    1
Name: count, Length: 972, dtype: int64

In [217]:
df['dew'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: dew
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.10  humidity

In [218]:
df['humidity']

0      21.000000
1      21.500000
2      16.900000
3      15.700000
4      15.900000
         ...
995    73.189130
996    74.137401
997    84.650482
998    86.860261
999    74.734715
Name: humidity, Length: 1000, dtype: float64

In [219]:
df['humidity'].value_counts()

humidity
64.200000    3
47.600000    3
66.300000    3
60.800000    2
68.300000    2
            ..
73.189130    1
74.137401    1
84.650482    1
86.860261    1
58.147634    1
Name: count, Length: 978, dtype: int64

In [220]:
df['humidity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: humidity
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.11  precip

In [221]:
df['precip']

0      0.000000
1      0.000000
2      0.000000
3      0.012000
4      0.008000
         ...
995    0.084660
996    0.019847
997   -0.010133
998   -0.002440
999    0.151615
Name: precip, Length: 1000, dtype: float64

In [222]:
df['precip'].value_counts()

precip
 0.000000    93
 0.012000     9
 0.004000     8
 0.008000     5
 0.028000     2
             ..
 0.084660     1
 0.019847     1
-0.010133     1
-0.002440     1
 0.230363     1
Name: count, Length: 885, dtype: int64

In [223]:
df['precip'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: precip
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

###  3.12  precipprob

In [224]:
df['precipprob']

0       5.000000
1       3.000000
2       0.000000
3       0.000000
4       0.000000
         ...
995    30.567091
996     6.993677
997     7.672519
998     0.986966
999    32.112070
Name: precipprob, Length: 1000, dtype: float64

In [225]:
df['precipprob'].value_counts()

precipprob
 0.000000     34
 1.000000     10
 3.200000      9
 19.400000     7
 9.700000      7
              ..
 30.567091     1
 6.993677      1
 7.672519      1
 0.986966      1
-1.001043      1
Name: count, Length: 890, dtype: int64

In [226]:
df['precipprob'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: precipprob
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.13 precipcover

In [227]:
df['precipcover']

0      0.000000
1      0.000000
2      0.000000
3      4.170000
4      4.170000
         ...
995    3.481763
996    4.239994
997    0.024863
998    0.132825
999    4.673090
Name: precipcover, Length: 1000, dtype: float64

In [228]:
df['precipcover'].value_counts()

precipcover
 0.000000     93
 4.170000     35
 8.330000      6
 12.500000     5
 20.830000     5
              ..
 3.481763      1
 4.239994      1
 0.024863      1
 0.132825      1
-0.508699      1
Name: count, Length: 857, dtype: int64

In [229]:
df['precipcover'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: precipcover
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.14 preciptype

In [230]:
df['preciptype'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: preciptype
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [231]:
df['preciptype'].value_counts().to_dict()

{0: 622, 'rain': 378}

In [232]:
df['preciptype'].replace({'rain': 1}, inplace=True)

In [233]:
df['preciptype']

0      0
1      0
2      0
3      1
4      1
      ..
995    1
996    1
997    0
998    0
999    1
Name: preciptype, Length: 1000, dtype: int64

### 3.15 snow

df['snow']

df['snow'].value_counts()

df['snow'].info()

### 3.16 snowdepth

df['snowdepth']

df['snowdepth'].value_counts()

df['snowdepth'].info()

### 3.17 windgust

In [234]:
df['windgust']

0      26.300000
1      20.800000
2      18.300000
3      10.500000
4      15.900000
         ...
995    13.864632
996     6.233441
997    17.387860
998    15.748270
999    16.615351
Name: windgust, Length: 1000, dtype: float64

In [235]:
df['windgust'].value_counts()

windgust
16.600000    6
16.100000    6
14.300000    5
12.100000    5
14.100000    5
            ..
13.864632    1
6.233441     1
17.387860    1
15.748270    1
7.768596     1
Name: count, Length: 914, dtype: int64

In [236]:
df['windgust'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: windgust
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.18 windspeed

In [237]:
df['windspeed']

0      13.700000
1      12.800000
2      10.300000
3       5.400000
4       8.100000
         ...
995     7.435891
996     8.930235
997    11.082903
998     8.028200
999    10.479637
Name: windspeed, Length: 1000, dtype: float64

In [238]:
df['windspeed'].value_counts()

windspeed
10.700000    12
10.300000    11
9.200000     11
8.100000     10
9.400000      7
             ..
7.435891      1
8.930235      1
11.082903     1
8.028200      1
9.456217      1
Name: count, Length: 891, dtype: int64

In [239]:
df['windspeed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: windspeed
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.19 winddir

In [240]:
df['winddir']

0      107.300000
1      101.500000
2       90.800000
3      130.100000
4      201.600000
          ...
995     51.161203
996    274.833365
997    196.361692
998    219.739970
999    104.043357
Name: winddir, Length: 1000, dtype: float64

In [241]:
df['winddir'].value_counts()

winddir
107.300000    2
269.100000    2
287.500000    2
92.600000     2
90.800000     1
             ..
51.161203     1
274.833365    1
196.361692    1
219.739970    1
101.500000    1
Name: count, Length: 996, dtype: int64

In [242]:
df['winddir'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: winddir
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.20 pressure

In [243]:
df['pressure']

0      1009.200000
1      1008.800000
2      1009.400000
3      1006.800000
4      1001.800000
          ...
995    1023.284477
996    1010.512503
997    1005.594740
998    1011.230055
999    1012.507597
Name: pressure, Length: 1000, dtype: float64

In [244]:
df['pressure'].value_counts()

pressure
1011.900000    5
1012.500000    5
1010.800000    4
1012.800000    4
1011.600000    4
              ..
1023.284477    1
1010.512503    1
1005.594740    1
1011.230055    1
1009.100000    1
Name: count, Length: 952, dtype: int64

In [245]:
df['pressure'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: pressure
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.21 cloudcover

In [246]:
df['cloudcover']

0      25.000000
1      13.500000
2       6.200000
3       4.900000
4       5.700000
         ...
995    80.512769
996    14.852611
997    46.721861
998    12.583793
999    17.313763
Name: cloudcover, Length: 1000, dtype: float64

In [247]:
df['cloudcover'].value_counts()

cloudcover
1.800000     3
17.300000    2
14.200000    2
16.400000    2
8.900000     2
            ..
80.512769    1
14.852611    1
46.721861    1
12.583793    1
4.000000     1
Name: count, Length: 982, dtype: int64

In [248]:
df['cloudcover'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: cloudcover
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.22 visibility

In [249]:
df['visibility']

0      10.000000
1      10.100000
2      10.100000
3      12.500000
4      15.000000
         ...
995    14.696976
996    15.092663
997    14.909931
998    15.052399
999    15.178379
Name: visibility, Length: 1000, dtype: float64

In [250]:
df['visibility'].value_counts()

visibility
15.000000    95
10.100000    16
14.900000     8
10.000000     7
12.100000     4
             ..
14.696976     1
15.092663     1
14.909931     1
15.052399     1
14.916703     1
Name: count, Length: 868, dtype: int64

In [251]:
df['visibility'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: visibility
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.23 solarradiation

In [252]:
df['solarradiation']

0      261.400000
1      293.300000
2      327.000000
3      276.800000
4      274.900000
          ...
995     71.458332
996    282.751283
997    272.043693
998    271.006885
999    245.190433
Name: solarradiation, Length: 1000, dtype: float64

In [253]:
df['solarradiation'].value_counts()

solarradiation
245.300000    3
265.300000    3
269.300000    3
267.700000    2
274.700000    2
             ..
71.458332     1
282.751283    1
272.043693    1
271.006885    1
327.000000    1
Name: count, Length: 991, dtype: int64

In [254]:
df['solarradiation'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: solarradiation
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.24 solarenergy

In [255]:
df['solarenergy']

0      22.500000
1      25.200000
2      28.200000
3      24.000000
4      23.700000
         ...
995     6.994928
996    22.619979
997    23.830479
998    22.746818
999    20.839690
Name: solarenergy, Length: 1000, dtype: float64

In [256]:
df['solarenergy'].value_counts()

solarenergy
23.100000    7
23.300000    7
22.500000    5
22.600000    5
21.300000    5
            ..
6.994928     1
22.619979    1
23.830479    1
22.746818    1
25.200000    1
Name: count, Length: 932, dtype: int64

In [257]:
df['solarenergy'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: solarenergy
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.25 uvindex

In [258]:
df['uvindex']

0      9.000000
1      9.000000
2      9.000000
3      9.000000
4      9.000000
         ...
995    3.121167
996    8.919897
997    9.089547
998    8.908550
999    6.904597
Name: uvindex, Length: 1000, dtype: float64

In [259]:
df['uvindex'].value_counts()

uvindex
9.000000    51
8.000000    44
7.000000    29
6.000000    13
5.000000     7
            ..
3.121167     1
8.919897     1
9.089547     1
8.908550     1
6.904597     1
Name: count, Length: 860, dtype: int64

In [260]:
df['uvindex'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: uvindex
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.26 severerisk

In [261]:
df['severerisk']

0      10.000000
1      10.000000
2      10.000000
3      10.000000
4      10.000000
         ...
995    10.563084
996     9.838767
997    10.502440
998     9.847929
999    30.395643
Name: severerisk, Length: 1000, dtype: float64

In [262]:
df['severerisk'].value_counts()

severerisk
10.000000    131
30.000000     15
60.000000      3
9.512387       1
9.538205       1
            ...
10.563084      1
9.838767       1
10.502440      1
9.847929       1
10.541696      1
Name: count, Length: 854, dtype: int64

In [263]:
df['severerisk'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: severerisk
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.27  sunrise

In [264]:
df['sunrisehour']

0      6
1      6
2      6
3      6
4      6
      ..
995    6
996    6
997    6
998    6
999    7
Name: sunrisehour, Length: 1000, dtype: int64

In [265]:
df['sunrisehour'].value_counts()

sunrisehour
6    720
7    280
Name: count, dtype: int64

In [266]:
df['sunrisehour'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunrisehour
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.27.a. sunriseminute

In [267]:
df['sunriseminute'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunriseminute
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [268]:
df['sunriseminute'].value_counts()

sunriseminute
1     546
2      68
8      43
6      40
9      36
14     32
15     27
13     22
11     18
10     18
7      17
12     16
3      15
21     13
4      13
23     12
20     12
17     12
19     11
5       9
16      9
18      6
22      5
Name: count, dtype: int64

In [269]:
df['sunriseminute'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunriseminute
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.27.b.sunrisesecond

In [270]:
df['sunrisecond'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunrisecond
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.28 sunriseEpoch

In [271]:
df['sunriseEpoch']

0      1725714410
1      1725800850
2      1725887290
3      1725973729
4      1726060169
          ...
995    1726690768
996    1726593864
997    1726118777
998    1726296563
999    1726634979
Name: sunriseEpoch, Length: 1000, dtype: int64

In [272]:
df['sunriseEpoch'].value_counts()

sunriseEpoch
1726634979    1
1725714410    1
1725800850    1
1725887290    1
1725973729    1
             ..
1726751690    1
1726665249    1
1726578809    1
1726492369    1
1726405929    1
Name: count, Length: 1000, dtype: int64

In [273]:
df['sunriseEpoch'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunriseEpoch
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.29 sunsethours

In [274]:
df['sunsethours'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunsethours
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [275]:
df['sunsethours'].value_counts()

sunsethours
19    692
18    308
Name: count, dtype: int64

### 3.29.b 	sunsetminutes

In [276]:
df['sunsetminutes']

0      44
1      43
2      42
3      40
4      39
       ..
995     3
996    51
997    58
998     0
999    22
Name: sunsetminutes, Length: 1000, dtype: int64

In [277]:
df['sunsetminutes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunsetminutes
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.29.c. sunsetsecond

In [278]:
df['sunsetsecond'].value_counts().to_dict()

{53: 41,
 32: 39,
 10: 38,
 38: 32,
 33: 31,
 16: 29,
 23: 29,
 5: 29,
 49: 29,
 59: 29,
 22: 27,
 6: 26,
 8: 25,
 45: 25,
 37: 25,
 25: 24,
 52: 24,
 57: 23,
 4: 23,
 1: 21,
 58: 20,
 26: 19,
 20: 19,
 21: 19,
 56: 18,
 18: 18,
 39: 16,
 19: 16,
 24: 15,
 47: 14,
 9: 13,
 41: 13,
 46: 13,
 55: 13,
 15: 12,
 35: 12,
 31: 12,
 3: 12,
 29: 12,
 36: 12,
 44: 11,
 43: 11,
 40: 11,
 54: 11,
 48: 10,
 34: 10,
 27: 9,
 2: 8,
 7: 7,
 51: 7,
 17: 7,
 0: 7,
 11: 6,
 14: 6,
 50: 5,
 12: 4,
 42: 3}

In [279]:
df['sunsetsecond'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunsetsecond
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.29 (3.30)sunsetEpoch

In [280]:
df['sunsetEpoch']

0      1725759893
1      1725846212
2      1725932530
3      1726018848
4      1726105166
          ...
995    1726616079
996    1726665823
997    1726232301
998    1726331361
999    1726687670
Name: sunsetEpoch, Length: 1000, dtype: int64

In [281]:
df['sunsetEpoch'].value_counts()

sunsetEpoch
1726687670    1
1725759893    1
1725846212    1
1725932530    1
1726018848    1
             ..
1726795704    1
1726709387    1
1726623070    1
1726536753    1
1726450436    1
Name: count, Length: 1000, dtype: int64

In [282]:
df['sunsetEpoch'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: sunsetEpoch
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.30 moonphase

In [283]:
df['moonphase']

0      0.160000
1      0.190000
2      0.220000
3      0.250000
4      0.290000
         ...
995    0.520096
996    0.477557
997    0.318339
998    0.397304
999    0.531630
Name: moonphase, Length: 1000, dtype: float64

In [284]:
df['moonphase'].value_counts()

moonphase
0.250000    16
0.190000    10
0.390000    10
0.420000    10
0.500000    10
            ..
0.520096     1
0.477557     1
0.318339     1
0.397304     1
0.430060     1
Name: count, Length: 870, dtype: int64

In [285]:
df['moonphase'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: moonphase
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.31 conditions

In [286]:

df['conditions'].value_counts().to_dict()

{'Clear': 569,
 'Partially cloudy': 363,
 'Rain, Partially cloudy': 55,
 'Overcast': 13}

In [287]:
df['conditions']

0      Partially cloudy
1                 Clear
2                 Clear
3                 Clear
4                 Clear
             ...
995    Partially cloudy
996               Clear
997    Partially cloudy
998               Clear
999               Clear
Name: conditions, Length: 1000, dtype: object

In [288]:
df['conditions'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: conditions
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [289]:
df=pd.get_dummies(df, columns=['conditions'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,datetime_26,datetime_27,datetime_28,datetime_29,datetime_30,datetime_31,conditions_Clear,conditions_Overcast,conditions_Partially cloudy,"conditions_Rain, Partially cloudy"
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,0,0,0,1,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,1,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,0,0,1,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,1,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,0,0,0,1,0
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,0,0,0,0,0,1,0,0,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,0,0,0,0,0,0,0,1,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,0,0,0,0,0,1,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,0,0,0,0,0,0,1,0,0,0

### 3.33 description

In [290]:
df['description'].value_counts()

description
Clear conditions throughout the day.                                          554
Partly cloudy throughout the day.                                             289
Becoming cloudy in the afternoon.                                              35
Partly cloudy throughout the day with storms possible.                         31
Clearing in the afternoon.                                                     21
Partly cloudy throughout the day with a chance of rain.                        16
Cloudy skies throughout the day.                                               13
Partly cloudy throughout the day with a chance of rain throughout the day.     13
Clear conditions throughout the day with storms possible.                      11
Partly cloudy throughout the day with rain in the morning and afternoon.        9
Becoming cloudy in the afternoon with storms possible.                          5
Partly cloudy throughout the day with afternoon rain.                           3
Name: count, dtype: int64

In [291]:
df['description']

0                      Partly cloudy throughout the day.
1                   Clear conditions throughout the day.
2                   Clear conditions throughout the day.
3                   Clear conditions throughout the day.
4                   Clear conditions throughout the day.
                             ...
995                    Partly cloudy throughout the day.
996                 Clear conditions throughout the day.
997                    Partly cloudy throughout the day.
998                 Clear conditions throughout the day.
999    Clear conditions throughout the day with storm...
Name: description, Length: 1000, dtype: object

In [292]:
df['description'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: description
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [293]:
df=pd.get_dummies(df, columns=['description'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,description_Clear conditions throughout the day with storms possible.,description_Clear conditions throughout the day.,description_Clearing in the afternoon.,description_Cloudy skies throughout the day.,description_Partly cloudy throughout the day with a chance of rain throughout the day.,description_Partly cloudy throughout the day with a chance of rain.,description_Partly cloudy throughout the day with afternoon rain.,description_Partly cloudy throughout the day with rain in the morning and afternoon.,description_Partly cloudy throughout the day with storms possible.,description_Partly cloudy throughout the day.
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,0,0,0,0,1
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,1,0,0,0,0,0,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,1,0,0,0,0,0,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,1,0,0,0,0,0,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,0,0,0,0,1
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,1,0,0,0,0,0,0,0,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,0,0,0,0,0,0,0,0,1
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,1,0,0,0,0,0,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,1,0,0,0,0,0,0,0,0,0

### 3.34 icons

In [294]:
df['icon']

0      partly-cloudy-day
1              clear-day
2              clear-day
3              clear-day
4              clear-day
             ...
995    partly-cloudy-day
996            clear-day
997    partly-cloudy-day
998            clear-day
999            clear-day
Name: icon, Length: 1000, dtype: object

In [295]:
df['icon'].value_counts()

icon
clear-day            569
partly-cloudy-day    363
rain                  55
cloudy                13
Name: count, dtype: int64

In [296]:
df['icon'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: icon
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [297]:
df=pd.get_dummies(df, columns=['icon'],dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,description_Partly cloudy throughout the day with a chance of rain throughout the day.,description_Partly cloudy throughout the day with a chance of rain.,description_Partly cloudy throughout the day with afternoon rain.,description_Partly cloudy throughout the day with rain in the morning and afternoon.,description_Partly cloudy throughout the day with storms possible.,description_Partly cloudy throughout the day.,icon_clear-day,icon_cloudy,icon_partly-cloudy-day,icon_rain
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,1,0,0,1,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,1,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,0,0,1,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,1,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,1,0,0,1,0
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,0,0,0,0,0,1,0,0,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,0,0,0,0,1,0,0,1,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,0,0,0,0,0,1,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,0,0,0,0,0,0,1,0,0,0

### 3.35 stations

In [298]:

df['stations'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: stations
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [299]:
df['stations'].value_counts()

stations
KSJC KLVK E6873 KHWD KWVI KOAK                188
KNZY KSAN E8360 KMYF                          146
KORD KMDW F1983 KPWK                          138
F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM      122
KHHR KBUR KSMO SE428 KLAX F1624 CQ070 KLGB    102
KSKF KSSF KSAT F6098                           69
KLGA KJRB F1417 KNYC                           67
0                                              51
KHOU KIAH KMCJ D0326                           51
KSDL KDVT AZM15 KPHX                           33
KVAY E8199 KPHL KPTW KLOM KPNE KDYL            33
Name: count, dtype: int64

In [300]:
df['stations']

0                          KSDL KDVT AZM15 KPHX
1                          KSDL KDVT AZM15 KPHX
2                          KSDL KDVT AZM15 KPHX
3                          KSDL KDVT AZM15 KPHX
4                          KSDL KDVT AZM15 KPHX
                         ...
995    F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM
996    F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM
997    F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM
998    F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM
999    F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM
Name: stations, Length: 1000, dtype: object

In [301]:
df['stations'].value_counts().to_dict()

{'KSJC KLVK E6873 KHWD KWVI KOAK': 188,
 'KNZY KSAN E8360 KMYF': 146,
 'KORD KMDW F1983 KPWK': 138,
 'F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM': 122,
 'KHHR KBUR KSMO SE428 KLAX F1624 CQ070 KLGB': 102,
 'KSKF KSSF KSAT F6098': 69,
 'KLGA KJRB F1417 KNYC': 67,
 '0': 51,
 'KHOU KIAH KMCJ D0326': 51,
 'KSDL KDVT AZM15 KPHX': 33,
 'KVAY E8199 KPHL KPTW KLOM KPNE KDYL': 33}

In [302]:
df=pd.get_dummies(df, columns=['stations'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,stations_F8578 KLNC KHQZ KDAL KDFW KGKY KRBD KGPM,stations_KHHR KBUR KSMO SE428 KLAX F1624 CQ070 KLGB,stations_KHOU KIAH KMCJ D0326,stations_KLGA KJRB F1417 KNYC,stations_KNZY KSAN E8360 KMYF,stations_KORD KMDW F1983 KPWK,stations_KSDL KDVT AZM15 KPHX,stations_KSJC KLVK E6873 KHWD KWVI KOAK,stations_KSKF KSSF KSAT F6098,stations_KVAY E8199 KPHL KPTW KLOM KPNE KDYL
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,0,1,0,0,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,1,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,0,0,1,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,1,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,1,0,0,0,0,0,0,0,0,0
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,1,0,0,0,0,0,0,0,0,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,1,0,0,0,0,0,0,0,0,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,1,0,0,0,0,0,0,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,1,0,0,0,0,0,0,0,0,0

### 3.36 source

In [303]:
df['source'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: source
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [304]:
df['source'].value_counts().to_dict()

{'fcst': 933, 'comb': 67}

In [305]:
df['source']

0      comb
1      fcst
2      fcst
3      fcst
4      fcst
       ...
995    fcst
996    fcst
997    fcst
998    fcst
999    fcst
Name: source, Length: 1000, dtype: object

In [306]:
df['source'].replace({'fcst':1, 'comb':2}, inplace=True)
df['source']

0      2
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: source, Length: 1000, dtype: int64

In [307]:
df['source'].value_counts()

source
1    933
2     67
Name: count, dtype: int64

### 3.37 city

In [308]:

df['City'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: City
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [309]:
df['City'].value_counts()

City
Chicago          131
New York City    113
Dallas           106
Phoenix          106
Philadelphia      94
Los Angeles       93
San Diego         93
San Jose          90
Houston           89
San Antonio       85
Name: count, dtype: int64

In [310]:
df['City']

0           Phoenix
1           Phoenix
2           Phoenix
3           Phoenix
4           Phoenix
           ...
995    Philadelphia
996       San Diego
997       San Diego
998     Los Angeles
999         Houston
Name: City, Length: 1000, dtype: object

In [311]:
df['City'].value_counts().to_dict()

{'Chicago': 131,
 'New York City': 113,
 'Dallas': 106,
 'Phoenix': 106,
 'Philadelphia': 94,
 'Los Angeles': 93,
 'San Diego': 93,
 'San Jose': 90,
 'Houston': 89,
 'San Antonio': 85}

In [312]:
df=pd.get_dummies(df, columns=['City'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,City_Chicago,City_Dallas,City_Houston,City_Los Angeles,City_New York City,City_Philadelphia,City_Phoenix,City_San Antonio,City_San Diego,City_San Jose
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,0,1,0,0,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,1,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,0,0,1,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,1,0,0,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,1,0,0,0,0
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,0,0,0,0,0,0,0,1,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,0,0,0,0,0,0,0,1,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,0,0,1,0,0,0,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,0,0,1,0,0,0,0,0,0,0

### 3.38 Temp_Range

In [313]:
df['Temp_Range']

0      15.100000
1      16.900000
2      21.100000
3      24.900000
4      24.000000
         ...
995    12.886665
996     2.613629
997     4.598936
998    15.477717
999    11.017871
Name: Temp_Range, Length: 1000, dtype: float64

In [314]:
df['Temp_Range'].value_counts()

Temp_Range
16.200000    6
21.400000    5
16.400000    4
17.100000    4
18.000000    4
            ..
12.886665    1
2.613629     1
4.598936     1
15.477717    1
22.432540    1
Name: count, Length: 946, dtype: int64

In [315]:

df['Temp_Range'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Temp_Range
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.39  Heat_Index

In [316]:
df['Heat_Index']

0      95.918703
1      92.281316
2      90.599165
3      89.638811
4      89.760414
         ...
995    71.837558
996    72.463491
997    67.560060
998    67.930437
999    86.802712
Name: Heat_Index, Length: 1000, dtype: float64

In [317]:
df['Heat_Index'].value_counts()

Heat_Index
86.802712    1
95.918703    1
92.281316    1
90.599165    1
89.638811    1
            ..
85.147082    1
86.203603    1
91.131887    1
93.208952    1
92.167586    1
Name: count, Length: 1000, dtype: int64

In [318]:

df['Heat_Index'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Heat_Index
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.40  Severity_Score

In [319]:
df['Severity_Score']

0      4.430000
1      3.880000
2      3.630000
3      2.851200
4      3.390800
         ...
995    1.957318
996    2.537413
997    3.595470
998    3.498942
999    3.040020
Name: Severity_Score, Length: 1000, dtype: float64

In [320]:
df['Severity_Score'].value_counts()

Severity_Score
3.210000    4
2.610000    3
2.490000    3
3.790000    3
3.370000    3
           ..
1.957318    1
2.537413    1
3.595470    1
3.498942    1
2.708344    1
Name: count, Length: 968, dtype: int64

In [321]:

df['Severity_Score'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Severity_Score
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

### 3.41  Condition_Code

df['Condition_Code']

df['Condition_Code'].value_counts().to_dict()

df['Condition_Code'].info()

### 3.42  Month

In [322]:
df['Month']

0      9
1      9
2      9
3      9
4      9
      ..
995    9
996    9
997    9
998    9
999    9
Name: Month, Length: 1000, dtype: int64

In [323]:
df['Month'].value_counts()

Month
9    1000
Name: count, dtype: int64

In [324]:
df['Month'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Month
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

### 3.43 Season

In [325]:
df['Season'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Season
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [326]:
df['Season'].value_counts().to_dict()

{'Fall': 1000}

In [327]:
df['Season']

0      Fall
1      Fall
2      Fall
3      Fall
4      Fall
       ...
995    Fall
996    Fall
997    Fall
998    Fall
999    Fall
Name: Season, Length: 1000, dtype: object

In [328]:
df['Season'].replace({'Fall': 1}, inplace=True)
df['Season']

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Season, Length: 1000, dtype: int64

In [329]:
df['Season'].value_counts()

Season
1    1000
Name: count, dtype: int64

### 3.44 Day_of_week

In [330]:
df['Day_of_Week']

0       Saturday
1         Sunday
2         Monday
3        Tuesday
4      Wednesday
         ...
995    Wednesday
996      Tuesday
997     Thursday
998     Saturday
999    Wednesday
Name: Day_of_Week, Length: 1000, dtype: object

In [331]:
df['Day_of_Week'].value_counts()

Day_of_Week
Saturday     205
Monday       139
Wednesday    138
Thursday     132
Friday       131
Tuesday      128
Sunday       127
Name: count, dtype: int64

In [332]:
df['Day_of_Week'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Day_of_Week
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [333]:
df=pd.get_dummies(df, columns=['Day_of_Week'], dtype=int)
df

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,City_San Antonio,City_San Diego,City_San Jose,Day_of_Week_Friday,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday
0,9,2024,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,...,0,0,0,0,0,1,0,0,0,0
1,9,2024,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,...,0,0,0,0,0,0,1,0,0,0
2,9,2024,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,...,0,0,0,0,1,0,0,0,0,0
3,9,2024,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,...,0,0,0,0,0,0,0,0,1,0
4,9,2024,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,2024,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,...,0,0,0,0,0,0,0,0,0,1
996,9,2024,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,...,0,1,0,0,0,0,0,0,1,0
997,9,2024,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,...,0,1,0,0,0,0,0,1,0,0
998,9,2024,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,...,0,0,0,0,0,1,0,0,0,0
999,9,2024,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,...,0,0,0,0,0,0,0,0,0,1

### 3.45 Is_weekend

In [334]:
df['Is_Weekend'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Is_Weekend
Non-Null Count  Dtype
--------------  -----
1000 non-null   bool
dtypes: bool(1)
memory usage: 1.1 KB

In [335]:
df['Is_Weekend'].value_counts()

Is_Weekend
False    668
True     332
Name: count, dtype: int64

#### 4. Model Training

In [336]:
x=df.drop('Health_Risk_Score', axis=1)
y=df['Health_Risk_Score']

### Scalling Added Here

from sklearn.preprocessing import MinMaxScaler

normal_scaler=MinMaxScaler()
array=normal_scaler.fit_transform(x)
x=pd.DataFrame(array, columns=x.columns)
x

In [337]:
#### this are effected based having some 0 vlaues so droped in before model negotiate 
# snowdepth, Condition_Code (delete) , snow, (delete)

x=df.drop(columns=['snowdepth','Condition_Code','snow', 'yeartime'] ,axis=1)
x

,monthtime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,City_San Antonio,City_San Diego,City_San Jose,Day_of_Week_Friday,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday
0,9,1725692400,106.100000,91.000000,98.500000,104.000000,88.100000,95.900000,51.500000,21.000000,...,0,0,0,0,0,1,0,0,0,0
1,9,1725778800,103.900000,87.000000,95.400000,100.500000,84.700000,92.300000,48.700000,21.500000,...,0,0,0,0,0,0,1,0,0,0
2,9,1725865200,105.000000,83.900000,94.700000,99.900000,81.600000,90.600000,41.700000,16.900000,...,0,0,0,0,1,0,0,0,0,0
3,9,1725951600,106.100000,81.200000,93.900000,100.600000,79.500000,89.800000,39.100000,15.700000,...,0,0,0,0,0,0,0,0,1,0
4,9,1726038000,106.100000,82.100000,94.000000,101.000000,80.000000,90.000000,40.100000,15.900000,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,1726632592,76.060546,64.359387,69.002142,77.673823,63.510920,67.003338,59.936776,73.189130,...,0,0,0,0,0,0,0,0,0,1
996,9,1726550178,68.409198,65.939319,66.567410,68.956722,64.805635,65.992526,59.010257,74.137401,...,0,1,0,0,0,0,0,0,1,0
997,9,1726121998,69.756690,65.286919,65.919492,68.158536,63.662942,67.313322,62.024442,84.650482,...,0,1,0,0,0,0,0,1,0,0
998,9,1726283774,77.106797,61.481724,68.106569,76.426959,60.901526,68.094309,63.169608,86.860261,...,0,0,0,0,0,1,0,0,0,0
999,9,1726618425,90.923080,79.296868,81.636991,94.180423,78.071851,84.987113,73.393045,74.734715,...,0,0,0,0,0,0,0,0,0,1

from sklearn.feature_selection import mutual_info_regression
array=mutual_info_regression(x,y)
s2=pd.Series(array, index=x.columns)
print(s2) 
s2.sort_values().plot(kind='bar')

In [338]:
from sklearn.preprocessing import MinMaxScaler
normal_scaler=MinMaxScaler()
array=normal_scaler.fit_transform(x)
x=pd.DataFrame(array, columns=x.columns)
x

,monthtime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,City_San Antonio,City_San Diego,City_San Jose,Day_of_Week_Friday,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday
0,0.727273,0.048839,0.962908,0.985056,0.969490,0.975261,0.968673,0.943282,0.500888,0.114585,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.727273,0.110674,0.914833,0.890998,0.899518,0.893588,0.884797,0.854272,0.445318,0.120781,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.727273,0.172509,0.938871,0.818104,0.883718,0.879587,0.808321,0.812240,0.306393,0.063784,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.727273,0.234344,0.962908,0.754616,0.865660,0.895921,0.756515,0.792460,0.254792,0.048916,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.727273,0.296179,0.962908,0.775778,0.867918,0.905255,0.768850,0.797405,0.274639,0.051394,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.727273,0.721718,0.306480,0.358620,0.303673,0.360935,0.362072,0.228816,0.668328,0.761234,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
996,0.727273,0.662736,0.139281,0.395771,0.248717,0.157520,0.394012,0.203824,0.649940,0.772983,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
997,0.727273,0.356295,0.168727,0.380431,0.234093,0.138894,0.365822,0.236481,0.709761,0.903245,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
998,0.727273,0.472075,0.329343,0.290954,0.283459,0.331839,0.297699,0.255790,0.732489,0.930625,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
999,0.727273,0.711579,0.631259,0.709865,0.588863,0.746119,0.721283,0.673462,0.935387,0.780384,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [339]:
x=df.drop('Health_Risk_Score', axis=1)
y=df['Health_Risk_Score']

In [340]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=30, shuffle=True)

In [346]:
linear_Reg_model=LinearRegression()
linear_Reg_model.fit(x_train, y_train)

LinearRegression()

### 5. Model Evaluation

#### Training Data Evalutation

In [360]:
y_pred_train=linear_Reg_model.predict(x_train)

# Mse
mse=mean_squared_error(y_train,y_pred_train)
print("The MSE Output Is:",mse)
print("*"*20)
#Rmse
rmse=np.sqrt(mse)
print("The RMSE Output Is:",rmse)
print("*"*20)

#Mae
mae=mean_absolute_error(y_train, y_pred_train)
print("The MAE Output Is:", mae)
print("*"*20)

#R_squared
r_squared=r2_score(y_train, y_pred_train)
print("The R_SQUARED Output Is:",r_squared)
print("*"*20)

The MSE Output Is: 0.009790153792185617
********************
The RMSE Output Is: 0.09894520600911201
********************
The MAE Output Is: 0.07857408952604533
********************
The R_SQUARED Output Is: 0.9786536722994215
********************

#### Testing Data Evaluation

In [359]:
y_pred_test=linear_Reg_model.predict(x_test)

# Mse
mse=mean_squared_error(y_test,y_pred_test)
print("The MSE Output Is:",mse)
print("*"*20)
#Rmse
rmse=np.sqrt(mse)
print("The RMSE Output Is:",rmse)
print("*"*20)
#Mae
mae=mean_absolute_error(y_test,y_pred_test)
print("The MAE Output Is:", mae)
print("*"*20)
#R_squared
r_squared=r2_score(y_test, y_pred_test)
print("The R_SQUARED Output Is:",r_squared)

The MSE Output Is: 0.013337952633846895
********************
The RMSE Output Is: 0.11549005426376288
********************
The MAE Output Is: 0.08766457135303547
********************
The R_SQUARED Output Is: 0.9718004090579153

### iris_pariplot.png

sns.pairplot(df, kind='reg')
plt.show()

plt.figure(figsize=(800,400))
sns.heatmap(df, cmap= 'coolwarm')
plt.show()
# heatmap

### 6. Save Model

In [ ]:
with open('linear_reg_model.pkl', 'wb') as f:
    pickle.dump(lin_reg_model, f)

In [ ]:
column_data={'source': {'fcst':1, 'comb':2},'preciptype':{'rain': 1},'Season': {'Fall': 1}}


# df=pd.get_dummies(df, columns=['preciptype'], dtype=int)
# df

with open('column_data.json', 'w') as f:
    json.dump(column_data, f)

#### model testing on single row

In [361]:
x_test[22:23]

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,City_San Antonio,City_San Diego,City_San Jose,Day_of_Week_Friday,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday
152,2,2024,1726944415,96.279681,81.398977,88.663335,95.49264,84.222299,91.300143,60.99115,...,0,0,0,0,0,1,0,0,0,0

In [362]:
x_test.iloc[[77]]

,monthtime,yeartime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,...,City_San Antonio,City_San Diego,City_San Jose,Day_of_Week_Friday,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday
180,3,2024,1726525688,83.121229,62.547975,69.098142,78.861022,60.013616,67.308123,47.500395,...,0,0,1,0,0,0,0,0,1,0

In [367]:
linear_Reg_model.predict(x_test[34:35])[0]

np.float64(10.410142957583929)

In [368]:
linear_Reg_model.predict(x_test[10:11])[0]

np.float64(9.189932267926935)

In [366]:
linear_Reg_model.predict(x_test.iloc[[34]])[0]

np.float64(10.410142957583929)

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 124 entries, monthtime to Day_of_Week_Wednesday
dtypes: bool(1), float64(26), int64(97)
memory usage: 962.0 KB

# if wrong predecting check in it :
check zero values columns  : condition_code, snow, snowdepth

 26  sunrise            1000 non-null   object  
 28  sunset             1000 non-null   object 
 31  conditions         1000 non-null   object 
 32  description        1000 non-null   object 
 33  icon               1000 non-null   object 
 34  stations           67 non-null     object 
 35  source             1000 non-null   object 
 36  City               1000 non-null   object  
 42  Season             1000 non-null   object 
 43  Day_of_Week        1000 non-null   object 
 44  Is_Weekend         1000 non-null   bool